@model SIS_2_.Models.ViewModels.StudentListViewModel
@{
    ViewData["Title"] = "List";
    ViewData["ExcludeNavbar2"] = true;
    ViewData["ExcludeNavbar"] = true;
}
<head>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.10/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.10/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.10/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            // Initialize DataTable with custom options
            new DataTable('#example', {
                pagingType: 'full_numbers'
            });
        });

    </script>

</head>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Roll Number</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Department</th>
            <th>Degree Title</th>
            <th>Interest</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.FullName</td>
                <td>@student.RollNumber</td>
                <td>@student.Gender</td>
                <td>@student.DateOfBirth</td>
                <td>@student.Department</td>
                <td>@student.DegreeTitle</td>
                <td>@student.InterestName</td>
                <td>@student.StartDate</td>
                <td>@student.EndDate</td>
                <!-- Add other columns -->
                <td>
                    <!-- Add links to View, Edit, Delete actions for each student -->
                    <a href="@Url.Action("View2", "Student", new { id = student.Id })">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
